.task, .content { /* whole task item */
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.content { /* radio button and title */
    cursor: pointer;
    align-items: flex-start;
}

.title {
    color: var(--clr-main-thin);
}