.task, .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
}

.content {
    cursor: pointer;
}

.title {
    color: var(--clr-main-thin);
}