.themeSwitch {
    position: relative;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: var(--clr-theme-bg);
}

.themeIcon {
    --size: 1.2rem;
    position: absolute;
    top: 50%;
    left: var(--theme-icon-offset);
    transform: translateY(-50%);
    width: var(--size);
    height: var(--size);
    background-color: var(--clr-theme-icon);
    border-radius: 50%;
    transition: all 0.2s ease;
}