html {
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
}

:root {
	--clr-main: var(--clr-white); 
	--clr-main-thin: var(--clr-gray); 
	--clr-bg: var(--clr-purple);
	--clr-bg-secondary: var(--clr-white);
	--clr-theme-icon: var(--clr-yellow);
	--clr-theme-bg: var(--clr-blue);

	--clr-white: white;
	--clr-black: hsl(0, 0%, 22%);
	--clr-gray: hsl(227, 23%, 68%);
	--clr-purple: hsl(267, 73%, 71%);
	--clr-purple-dark: hsl(267, 100%, 60%);
	--clr-yellow: hsl(51, 100%, 52%);
	--clr-blue: hsl(192, 82%, 73%);

	--theme-icon-offset: var(--theme-icon-light-offset);
	--theme-icon-light-offset: 3px;
	--theme-icon-dark-offset: 26px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--clr-main-thin: var(--clr-white); 
		--clr-bg: var(--clr-black);
		--clr-bg-secondary: var(--clr-black);
		--clr-theme-icon: var(--clr-white);
		--clr-theme-bg: var(--clr-gray);
		--theme-icon-offset: var(--theme-icon-dark-offset);
	}	
}

@font-face {
	font-family: "Poppins";
	font-weight: 400;
	font-style: normal;
	src: url("../public/assets/fonts/Poppins-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	color: var(--clr-main);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
	border: none;
	background: none;
}

a {
	color: var(--clr-main);
	text-decoration: none;
}